<h1>Welcome</h1>
<blockquote >
<p class="flow-text">welcome to StoryBooks 1.2.0</p>
<p class="flow-text">Post stories from the best and worst of your life and choose for them to be read by the world or completley private as your own personal diary</p>
</blockquote>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-2"><i class="fa fa-google left"> Login with Google</i></a>
{{/if}}
